@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #102126;
    --cor-secundaria: #474F5A;
    --cor-terciaria: #FF9A00;

    --cor-textos-primario: #F6F6F6;
    --cor-textos-secundario: #818D9F;

    --fonte-primaria: 'Montserrat', serif;
    --fonte-secundaria:  "Mulish", serif;

    --font-size-xl: 2.75rem;
    --font-size-l: 2rem;
    --font-size-m: 1.25rem;
    --font-size-base: 1rem;
    --font-size-s: 0.75rem;
    --font-size-xs: 0.6rem;

    --padding-2xs: 0.5rem;
    --padding-xs: 0.875rem;
    --padding-s: 1rem;
    --padding-m: 1.5rem;
    --padding-l: 2rem;
    --padding-xl: 3rem;
    --padding-2xl: 4rem;

    --margin-2xs: 0.5rem;
    --margin-xs: 0.875rem;
    --margin-s: 1rem;
    --margin-m: 1.5rem;
    --margin-l: 2rem;
    --margin-xl: 3rem;
    --margin-2xl: 4.3rem;

    --gap-xs: 0.5rem;
    --gap-s: 1rem;
    --gap-m: 1.5rem;
    --gap-l: 2rem;
    --gap-xl: 3rem;
    --gap-2xl: 4rem;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-textos-primario);
    font-family: var(--fonte-primaria);
}

.cabecalho__container {
    background-image: url("../assets/background-header.png");
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
    padding: var(--padding-m);
}

.cabecalho__titulo-principal {
    font-family: var(--fonte-secundaria);
    font-size: var(--font-size-l);
}

.cabecalho__informacoes-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cabecalho__lista-contato {
    display: flex;
    list-style-type: none;
    gap: var(--gap-xl);
}

.lista-contato__item {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

.cabecalho__icone {
    width: 3vh;
    height: 3vh;
}

.cabecalho__texto {
    font-weight: 500;
}

.opcoes__menu {
    display: flex;
    justify-content: center;
    gap: var(--gap-xl);
    padding: var(--padding-s) 0 var(--padding-l) 0;
}

.menu__opcao {
    text-decoration: none;
}

.opcao__texto {
    font-size: var(--font-size-m);
    font-weight: 500;
    color: var(--cor-textos-secundario);
}

.opcao__texto:hover {
    color: var(--cor-textos-primario);
}

.active {
    color: var(--cor-textos-primario);
    border-bottom: solid 0.15rem var(--cor-terciaria);
}

.lista__produtos {
    width: 65%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.item__produto {
    background-color: var(--cor-secundaria);
    width: 13.5rem;
    list-style-type: none;
    border-radius: 1.25rem;
    margin: 0 var(--margin-xs);
    margin-bottom: var(--margin-xl);
}

.imagem__produto {
    padding: var(--padding-l) 0 var(--padding-s) 0;
}

.informacoes__produto {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: var(--margin-2xs);
    padding-left: var(--padding-l);
    gap: var(--gap-xs);
}

.titulo__produto {
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: var(--font-size-m);
}

.descricao__produto {
    font-family: var(--fonte-secundaria);
    font-weight: 200;
    color: #DCDCDC;
    font-size: var(--font-size-s);
}

.valor__produto {
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    color: var(--cor-terciaria);
    font-size: var(--font-size-b);
}

.container__secundario {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 10rem;
}

.secundario__imagem {
    width: 80%;
}

.secundario__titulo {
    font-weight: 700;
    font-size: var(--font-size-xl);
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.secundario__texto {
    color: var(--cinza-secundaria)
}

.secundario__aviso {
    font-size: var(--font-size-s);
    color: var(--cor-textos-secundario);
}

.rodape__container {
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: var(--padding-l) 0;
}

.rodape__texto {
    font-size: var(--font-size-s);
}

@media (max-width: 1024px) {

    .opcao__texto {
        font-size: var(--font-size-base);
    }

    .lista__produtos {
        width: 70%;
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .item__produto {
        width: 12.5rem;
        margin: 0 var(--margin-xs);
        margin-bottom: var(--margin-xl);
    }

    .imagem__produto {
        padding: var(--padding-l) 0 var(--padding-s) 0;
    }

    #delivery {
        flex-direction: column-reverse;
    }

    .container__secundario {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 70vh;
    }

    .secundario__titulo {
        font-size: var(--font-size-l);
    }

    .secundario__aviso {
        font-size: var(--font-size-xs);
    }
}

@media (max-width: 768px) {

    .lista__produtos {
        width: 80%;
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .item__produto {
        width: 10.5rem;
        margin: 0 var(--margin-xs);
        margin-bottom: var(--margin-xl);
    }

    .imagem__produto {
        width: 75%;
        padding: var(--padding-l) 0 var(--padding-s) 0;
    }

    .titulo__produto {
        font-size: var(--font-size-m);
    }

    .descricao__produto {
        font-size: var(--font-size-s);
    }

    .valor__produto {
        font-size: var(--font-size-s);
    }

}

@media (max-width: 480px) {

    .cabecalho__titulo-principal {
        font-size: var(--font-size-m);
    }

    .cabecalho__informacoes-contato {
        font-size: var(--font-size-s);
    }

    .opcoes__menu {
        gap: var(--gap-m);
    }

    .opcao__texto {
        font-size: var(--font-size-s);
    }

    .lista__produtos {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .item__produto {
        width: 8.5rem;
        margin: 0 var(--margin-xs);
        margin-bottom: var(--margin-xl);
    }

    .imagem__produto {
        width: 70%;
        padding: var(--padding-m) 0 var(--padding-2xs) 0;
    }

    .informacoes__produto {
        padding-left: var(--padding-m);
    }

    .titulo__produto {
        font-size: var(--font-size-base);
    }

    .descricao__produto {
        font-size: var(--font-size-xs);
    }

    .valor__produto {
        font-size: var(--font-size-s);
    }

    .container__secundario {
        height: 50vh;
    }
}
