@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #102126;
    --cor-secundaria: #474F5A;
    --cor-terciaria: #FF9A00;

    --cor-textos-primario: #F6F6F6;
    --cor-textos-secundario: #818D9F;

    --fonte-primaria: 'Montserrat', serif;
    --fonte-secundaria:  "Mulish", serif;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-textos-primario);
    font-family: var(--fonte-primaria);
}

.cabecalho__container {
    background-image: url("../assets/background-header.png");
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9em;
    padding: 20px;
}

.cabecalho__titulo-principal {
    font-family: var(--fonte-secundaria);
    font-size: 36px;
}

.cabecalho__informacoes-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.cabecalho__lista-contato {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 3em;
}

.lista-contato__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho__icone {
    width: 20px;
    height: 20px;
}

.cabecalho__texto {
    font-weight: 500;
}

.cabecalho__descricao {
    font-weight: 400;
    font-size: 14px;
}

.opcoes__menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 1em 0 2em 0;
}

.menu__opcao {
    text-decoration: none;
}

.opcao__texto {
    font-size: 22px;
    font-weight: 500;
    color: var(--cor-textos-secundario);
}

.opcao__texto:hover {
    color: var(--cor-textos-primario);
}

.active {
    border-bottom: solid 3px var(--cor-terciaria);
}

.lista__produtos {
    width: 65%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.item__produto {
    background-color: var(--cor-secundaria);
    width: 216px;
    list-style-type: none;
    border-radius: 20px;
    margin: 0 15px 70px 15px;
}

.imagem__produto {
    padding: 2em 0 1em 0;
}

.informacoes__produto {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 2em;
    gap: 7px;
}

.titulo__produto {
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 20px;
}

.descricao__produto {
    font-family: var(--fonte-secundaria);
    font-weight: 200;
    color: #DCDCDC;
    font-size: 14px;
}

.valor__produto {
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    color: var(--cor-terciaria);
    font-size: 14px;
}

.container__secundario {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.secundario__imagem {
    width: 80%;
}

.secundario__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.secundario__texto {
    color: var(--cinza-secundaria)
}

.secundario__aviso {
    font-size: 12px;
    color: var(--cor-textos-secundario);
}

.rodape__container {
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 2em 0;
}

.rodape__texto {
    font-size: 14px;
}
